<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>{{ page.title }}{% unless page.no_suffix %} ★ me.dt.in.th{% endunless %}</title>
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<meta name="author" content="{{ site.author.name }}">
<meta property="og:title" content="{{ page.title | xml_escape }} ★ me.dt.in.th">
<meta property="og:site_name" content="me.dt.in.th">
<meta property="fb:admins" content="1658509977">
<meta name="monetization" content="$dt.in.th" />

<!-- Enable responsive viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Le styles -->
<link rel="stylesheet" href="{{ BASE_PATH }}/css/style.css">

<!-- Le fav and touch icons -->
<!-- atom & rss feed -->
<link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
<link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="{{ BASE_PATH }}/js/js.js"></script>

{% if page.css %}
  <style>{{ page.css }}</style>
{% endif %}

</head>

<body>

{{ content }}

{% include JB/analytics %}

{% if page.math %}
<script type="text/x-mathjax-config">MathJax.Hub.Config({
extensions: ["tex2jax.js"],
jax: ["input/TeX","output/HTML-CSS"],
tex2jax: {inlineMath: [["$","$"]]}
});</script><script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
{% endif %}


</body>
</html>
