---
---
<!DOCTYPE html>
<meta charset=utf-8>
<title>{{ page.title }}</title>
<meta http-equiv="refresh" content="0; url={{ page.redirect_to }}">
<link rel="canonical" href="{{ page.redirect_to }}" />
<link rel=stylesheet href="/css/style.css">

<div class="me-content">
<div class="me-center-align">

<h1 class="me-head">{{ page.title }}</h1>

<div class="me-content-data">
<h2>Redirecting...</h2>

<p>
  Now redirecting you to:
  <a href="{{ page.redirect_to }}">{{ page.redirect_to }}</a>
</p>
</div>

</div>
</div>
